header {
    background-color: #252a34;
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 20;
    transition: 0.8s all ease;
    .nav {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            display: flex;
            padding: 10px 0;
            img {
                width: 60px;
                height: 60px;
            }
            h1 {
                margin-left: 10px;
                a {
                    text-decoration: none;
                    color: #eaeaea;
                }
            }
        }
        &__hamburger {
            display: none;
        }
        &__navbar {
            .menu {
                display: flex;
                align-items: center;
                list-style: none;
                &__item{
                    margin: 0 25px;
                }
                &__link {
                    text-decoration: none;
                    color: #eaeaea;
                    &:hover {
                        color: #ff2e63;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    header{
        .nav{
            &__hamburger {
                display: block;
                color: #eaeaea;
                font-size: 24px;
            }

            &__navbar {
                display: none;
            }
        }
    }
}